# APP CONFIGURATION
PORT=5000
NODE_ENV=development
APP_NAME="Backend Rukun Jaya - Express API"

# DATABASE CONFIGURATION (PostgreSQL)
# Diperlukan untuk Prisma CLI (Migration) & Node-Postgres (Runtime Pool)
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL="postgresql://postgres:password_rahasia@localhost:5432/rukun_jaya_db?schema=public"

# SECURITY & AUTHENTICATION (JWT)
# Gunakan string acak yang kuat untuk production (misal hasil generate openssl rand -base64 32)
JWT_SECRET="super_secret_key_rukun_jaya_2026"
JWT_EXPIRES_IN="8h"

# BUSINESS & TRANSACTION RULES
# Batasan Pajak Pertambahan Nilai (PPN 11% sesuai spesifikasi UI High-Fidelity)
TAX_PERCENTAGE=11

# NOTIFICATION SYSTEM (SMTP Mailer untuk Stok Menipis)
# Diperlukan jika sistem mengirimkan email alert otomatis ke Pemilik (Ci Ailing)
SMTP_HOST="smtp.mailtrap.io"
SMTP_PORT=2525
SMTP_USER="your_smtp_username"
SMTP_PASSWORD="your_smtp_password"
EMAIL_FROM="system@toko-rukunjaya.com"
EMAIL_OWNER_TARGET="owner@toko-rukunjaya.com"